# Gitignore principal na raiz do projeto

# Node modules para o frontend (client)
/client/node_modules

# Node modules para o backend (server)
/server/node_modules

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
/client/build
/server/dist # ou a pasta de build do seu backend

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*